@import "../../_theme_variables";

#search_block_top {
	float: right;
	margin-right: 115px;
	padding-top: 23px;
	#searchbox {
		background: #3f3c41;
		border: none;
		color: #fff;
		float: left;
		padding-right: 30px;
		position: relative;
		width: 256px;
	}
	.btn.button-search {
		background: none;
		border: none;
		color: #fff;
		display: block;
		top: -0;
		padding: 10px 0 11px 0;
		position: absolute;
		right: -0;
		text-align: center;
		width: 30px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		span {
			display: none;
		}
		&:before {
			content: "\f002";
			display: block;
			font-family: $font-icon;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
		&:hover {
			color: #ff5857;
			background: none;
		}
	}
	#search_query_top {
		background: none;
		border: none;
		color: #fff;
		height: 37px;
		display: inline-block;
		padding: 12px 10px 8px 13px;
	}
	@media (max-width: $screen-xs-max) { // max 767px
		float: none;
		margin-right: 0;
		text-align: center;
		#searchbox {
			display: inline-block;
			float: none;
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.btn.btn-sm {
		float:left;
		i {
			margin-right:0;
		}
	}
}